<h3 class="text-center m-4">Angular Pipes</h3>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center">Server Status: {{ appStatus | async }}</h4>
      <input type="text" class="form-control m-3" [(ngModel)]="searchTerm" />
      <button class="btn btn-primary" (click)="addServer()">Add Server</button>
      <div class="list-group">
        <div
          class="list-group-item"
          *ngFor="let server of servers | filter: searchTerm:'status'"
        >
          <div class="row">
            <div class="col-2">
              {{ server.name | shorten: 12 }}
            </div>
            <div class="col-2">
              {{ server.type | uppercase }}
            </div>
            <div class="col-2">
              {{ server.status }}
            </div>
            <div class="col-6">
              {{ server.startDate | date: "fullDate" | uppercase }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
